*.user
*.log
*.cache
*.tmp
*.pid
*.user
*.config

Properties/
references/
Tebegrammmm/TebegramServer/TebegramServer/uploads/
Tebegrammmm/TebegramServer/TebegramServer/Messages/
Tebegrammmm/TebegramServer/TebegramServer/Logs/
bin/
obj/
node_modules/